#resultAI{
    h2,h3,h4 {
        color:#1a214f;
        font-family: SFU Futura;
       
    }
    p{
        font-family: SFU Futura;
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        color: #1c213f;
    }
    h2 {
        font-size: 1.34rem;
    }
    h3 {
        font-family: SFU Futura;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 42px;
        color: #1c213f !important;
        margin-top: 15px;
        margin-bottom: 15px;
       
    }
    strong {
        font-family: SFU Futura;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 17px;
        color: #1c213f;
        font-weight: bold !important;
    }

}
